/Software/
*.tiff
RegionalOverviews/.Rhistory
.Rproj.user
RegionalOverviews/RegionalOverviews.Rproj
.Rhistory
*.bak
/RegionalOverviews/store_data/
/RegionalOverviews/tables/
/RegionalOverviews/figures/
