NWP table 2.1.zip
old/
outputs/
NWP table 2.1/
DK_table2_1_control.csv
DK_table2_1_filled.csv
Filling-Table-21-Version_1.docx
MS_comments.txt
RDB_All_Regions_CL_2009_2020_prepared_20210428.Rdata


*.docx
